<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="PersonBean" class="com.pvt.common.Person" init-method="init" destroy-method="destroy">
            <property name="name">
                <null/>
            </property>
            	
        </bean>
</beans>